# Data
all5hrs_footsteps/
audio/
checkpoints/
lightning_logs/
__pycache__/
footsteps_processed/
footsteps_speed_modified/
data/*
datasets_old/*


# OS
.DS_Store
.DS_Store?

# scripts
ds_preprocess.py
test_fns/*

# ipynb
.ipynb_checkpoints/