# Data
all5hrs_footsteps/
audio/
checkpoints/
lightning_logs/
__pycache__/
footsteps_processed/
footsteps_speed_modified/
data/*
datasets_old/*
RCVs/*
ffxFootstepsGenData/*
footsteps_sf_db_speed/*
footsteps_embeddings_full-hfclap/*
tb_logs/*
audio_tests/*


# OS
.DS_Store
.DS_Store?

# scripts
ds_preprocess.py
test_fns/*
training_scripts/*
attr_score_analysis.py
/legacy/*

# ipynb
.ipynb_checkpoints/

#checkpoints
*.ckpt
checkpoint_test.ipynb

#plots
plots/*
loss_plots/*